main {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  textarea {
    display: block;
    height: 100px;
    width: calc(60%);
    background: #2E2E2E;
    padding: 20px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: hsla(0, 0%, 100%, 0.9)
  }

  textarea:focus {
    outline: none;
  }

  .virtual-keyboard {
    display: flex;
    flex-direction: column;
    padding: 5px;
    //height: 50%;
    width: calc(60%);
    background-color: #ECECEC;
    border-radius: 10px;

    section {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        //width: 100%;
        height: 48px;
        margin: 3px;
        font-size: 14px;
        text-align: center;
        padding: 5px;

        font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
        border: 1px solid #ffffff;
        box-shadow: 0 0 3px -1px rgb(0, 0, 0 / 30%);
        border-radius: 5px;
        box-sizing: border-box;
        background: #ffffff;
        cursor: pointer;
      }

      button:hover {
        border: 1px solid #7a7a7a;
        transform: scale(1.1);
      }

      .delete {
        width: 4%;
      }

      .tab {
        width: 4%;
      }

      .caps-lock {
        width: 5%;
        &-active {
          background: mediumseagreen;
        }
      }

      .return {
        width: 5%;
      }

      .shift {
        width: 6%;
        &-active {
          background: mediumseagreen;
        }
      }

      .space {
        width: 50%;
      }
    }


  }

}
